<div class="row">
<div class="twelve columns">
  <ul class="pricing-table">
    <li class="title" >Select Button Type</li>
    <li class="price" ng-click="setExistingDeviceType('rf433')">Socket</li>
    <li class="price" ng-click="setExistingDeviceType('rf433-button')">RF Button</li>
    <li class="price" ng-click="setExistingDeviceType('rgbled')">RGB Light</li>
    <li class="price" ng-click="setExistingDeviceType('relay')">Relay</li>
  </ul>

  <a class="button alert" ng-click="setRoute('/')">Cancel</a>
</div>
</div>