<div class="row">
<div class="twelve columns">
  <ul class="pricing-table">
    <li class="title" >Select Button Type</li>
    <li class="price" ng-click="setExistingDeviceTypes(['rf433'])" ng-show="GetDeviceByType('rf433')">Socket</li>
    <li class="price" ng-click="setExistingDeviceTypes(['rf433-button'])" ng-show="GetDeviceByType('rf433')">RF Button</li>
    <li class="price" ng-click="setExistingDeviceTypes(['rgbled', 'rgbled8'])" ng-show="GetDeviceByType('rgbled')">RGB Light</li>
    <li class="price" ng-click="setExistingDeviceTypes(['relay'])" ng-show="GetDeviceByType('relay')">Relay</li>
  </ul>

  <a class="button alert" ng-click="setRoute('/')">Cancel</a>
</div>
</div>