  .configure-socket {
    h4 {
      margin-bottom: 20px;
    }
    
    .panel {
      margin-bottom: 10px;
      // margin-top: 10px;

      h5 {
        float: left !important;
        line-height: 2em;
        padding-right: 0px;
      }
      a.button {
        display: inline-block;
      }

      .signal-actions {
        display: inline-block;
        float: right;
        margin-right: 5px;
      }
    }
  }

  .configure-rf-button {

    .panel {
      h5 {
        float: left !important;
        line-height: 2em;
        padding-right: 0px;
      }
      .signal-actions {
        display: inline-block;
        float: right;
        margin: 0;
      }
    }

  }