
$headerHeight: 50px;

header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: $headerHeight;
  background: #070707;
  color: #EEE;

  a.configure {
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
  }
}

.top-bar {
  position: relative;
  margin-bottom: 0px;

  .toggle-edit {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
  }  
}

