
@import "../components/foundation/scss/foundation.scss";


@import "compass/css3";
@import "jiggle";

@import "normalize";
@import "main";

@import "vars";
@import "debug";
@import "forms";
@import "notes";

@import "header";
@import "container";
@import "existingDevices";
@import "configureSocket";
@import "configureLed";

@import "buttons";
@import "media";

$backgroundTop: #777;
$backgroundBottom: #444;


h1,h2,h3,h4,h5,h6 { 
  margin: 0; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #DDD;
  @include text-shadow(-1px -1px 0px rgba(0,0,0,0.5));
  
  &.subheader {
    font-weight: 100;
    color: #FFF;
  }
}

html {
  background: $backgroundBottom;
}

body {
  font-family: 'Open Sans', sans-serif;
  @include background-image(linear-gradient($backgroundTop, $backgroundBottom));
}

.panel {
  padding: 10px;
}