<h4>Configure Socket</h4>
<form name="configureSocket">

  <div class="row">
    <div class="panel">
      <input type="text" placeholder="Name this socket" ng-model="ButtonName" required>
      <h5 class="subheader">Signals</h5>
      <h6>To pair the On and Off signals. Click 'Listen' and press the socket RF button 3 times</h6>

      <div class="panel">
        <h5>On {{ ButtonValue1 }} </h5>
        <span ng-show="!ButtonValue1">
        <a class="button" ng-click="Listen('ButtonValue1')" ng-show="!ButtonIsListening('ButtonValue1')">Listen</a>
        <a class="button" ng-click="Stop()" ng-show="ButtonIsListening('ButtonValue1')">Stop</a>
        </span>
        <ul class="button-group" ng-show="ButtonValue1">
          <a class="button" ng-click="Clear('ButtonValue1')">Clear</a>
          <a class="button">Test</a>
        </ul>
      </div>

      <div class="panel">
        <h5>Off {{ ButtonValue2 }}</h5>
        <span ng-show="!ButtonValue2">
        <a class="button" ng-click="Listen('ButtonValue2')" ng-show="!ButtonIsListening('ButtonValue2')">Listen</a>
        <a class="button" ng-click="Stop()" ng-show="ButtonIsListening('ButtonValue2')">Stop</a>
        </span>
        <ul class="button-group" ng-show="ButtonValue2">
          <a class="button" ng-click="Clear('ButtonValue2')">Clear</a>
          <a class="button">Test</a>
        </ul>
      </div>

    </div>
  


  <div class="listener" style="display: none">
    <div class="signals" ng-show="ListenTarget">
      <ul>
        <li ng-repeat="entry in ListenEntries">
          RF {{ entry.DA }}: {{ entry.Count }}
        </li>
      </ul>
    </div>
  </div>

  <ul class="button-group radius even two-up">
    <li><a class="button large alert radius" ng-click="setRoute('/selectButton')">Cancel</a></li>
    <li><a class="button large success radius" ng-click="Save()">Save</a></li>
  </ul>
  
  
  </div>
</form>