<form name="configureLed" class="configure-led twelve columns">
  <h4>Configure RGB Light</h4>
  <br>
  <div class="row">
    <div class="panel">
      <div class="alert-box alert" ng-show="!configureLed.$valid && !ButtonName">
        Please name this button
      </div>
      <input type="text" placeholder="Name This Button" ng-model="ButtonName" required>
      <input type="hidden" ng-model="ButtonValue" required>
      <!-- <h5 class="subheader">Select a colour</h5> -->
      <div class="alert-box " ng-show="!configureLed.$valid && !ButtonValue">Select a colour</div>
      <ul class="block-grid two-up colors">
        <li><a selectable data-color="FF0000" class="button red">Red</a></li>
        <li><a selectable data-color="FFFF00" class="button yellow">Yellow</a></li>
        <li><a selectable data-color="0000FF" class="button blue">Blue</a></li>
        <li><a selectable data-color="FF00FF" class="button purple">Purple</a></li>
        <li><a selectable data-color="00FF00" class="button green">Green</a></li>
        <li><a selectable data-color="00FFFF" class="button cyan">Cyan</a></li>
        <li><a selectable data-color="FFFFFF" class="button white">White</a></li>
        <li><a selectable data-color="000000" class="button black">Black</a></li>
      </ul>

      <a class="button" ng-click="Test()">Test</a>
      

    </div>

    <ul class="button-group radius even two-up">
      <li><a class="button large alert radius" ng-click="setRoute('/selectButton')">Cancel</a></li>
      <li><a class="button large success radius" ng-click="Save()">Save</a></li>
    </ul>
  </div>
</form>