<form name="configureLed" class="configure-led twelve columns">
  <h4>Configure RGB Light</h4>
  <br>
  <div class="row">
    <div class="panel">
      <div class="alert-box alert" ng-show="!configureLed.$valid && !ButtonName">
        Please name this button
      </div>
      <input type="text" placeholder="Name This Button" ng-model="ButtonName" required>
      <!-- <h5 class="subheader">Select a colour</h5> -->
      <div class="alert-box " ng-show="!configureLed.$valid && !ButtonValue">Select a colour</div>

      <input name="buttonValue" id="buttonValue" type="hidden" ng-model="ButtonValue" ng-show="configureLed.buttonValue.$error.required" required>

      <div class="value">
        <canvas width="150" height="150" class="colorPicker" device-Led-Picker></canvas>
        <div class="current" style="background-color: #{{ButtonValue}}"></div>
      </div>



      <a class="button" ng-click="Test()">Test</a>
      

    </div>

    <ul class="button-group radius even two-up">
      <li><a class="button large alert radius" ng-click="setRoute('/selectButton')">Cancel</a></li>
      <li><a class="button large success radius" ng-click="Save()">Save</a></li>
    </ul>
  </div>
</form>