@media only screen and (max-width: 767px) {
  
  .remote-button {
    h5 {
      float: left !important;
      width: inherit !important;
    }

    .button-bar {
      float: right !important;
    }
  }

  .existing-device {
    .name {
      float: left !important;
      width: inherit !important;
    }
    .use {
      float: right !important;
    }
  }

  .configure-socket {
    .panel {
      h5 {
        float: left !important;
        width: 37% !important;
      }
      a.button {
        // display: inline-block;
      }

      .signal-actions {
        // display: inline-block;
        // float: right;
      }
    }
  }
}